html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito Sans, SF Pro Text, SF Pro Icons, Roboto, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  background-color: #f7f5ff;
}

#__next {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: blueviolet;
}

*::-webkit-scrollbar-track {
  background: rgb(212, 171, 250);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
